extends layout
block content
    h1=title
    form(method='post' action='/addCategory')
        p
            label pid
            input(type='text' name='pid')
        p
            label name
            input(type='text' name='name')
        p
            input(type='submit' value='提交')