extends layout

block content
   #detail
      p.title article title
      p.content article worldsarticle worldsarticle worldsarticle worldsarticle worldsarticle worldsarticle worldsarticle worldsarticle worldsarticle worldsarticle worldsarticle worldsarticle worldsarticle worldsarticle worldsarticle worldsarticle worldsarticle worldsarticle worldsarticle worldsarticle worldsarticle worldsarticle worlds