extends layout

block content
  h1= title
  p= description
  #nav
    ul
      li
       a(href='#') Home
      li
       a(href='#') About
      li
       a(href='#') Subscribe
  #category
    ul
      li
       a(href='#') item one
      li
       a(href='#') item two
      li
       a(href='#') item three
      li
       a(href='#') item four
      li
       a(href='#') item five
      li
        a(href='#') item four
      li
        a(href='#') item five
      li
        a(href='#') item four
      li
        a(href='#') item five
      li
        a(href='#') item four
      li
        a(href='#') item five
  #artical
    ul
      li
       p.title
          a(href='#') test article title
       p.summary
          | some words will be shown here
      li
        p.title
          a(href='#') test article title
        p.summary
          | some words will be shown here
      li
        p.title
          a(href='#') test article title
        p.summary
          | some words will be shown here
      li
        p.title
          a(href='#') test article title
        p.summary
          | some words will be shown here
      li
        p.title
          a(href='#') test article title
        p.summary
          | some words will be shown here
      li
        p.title
          a(href='#') test article title
        p.summary
          | some words will be shown here
      li
        p.title
          a(href='#') test article title
        p.summary
          | some words will be shown here
      li
        p.title
          a(href='#') test article title
        p.summary
          | some words will be shown here
      li
        p.title
          a(href='#') test article title
        p.summary
          | some words will be shown here
      li
        p.title
          a(href='#') test article title
        p.summary
          | some words will be shown here
  #footer
    p this blog is code by Cheng Liufeng