doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//g.alicdn.com/kissy/k/5.0.1/seed.js')
  body
    block content